# MongoDB Configuration without Authorization (Initial Setup)
# where and how to store data.
storage:
  dbPath: {{ dbPath }}
# wiredTiger:
#    engineConfig:
#      cacheSizeGB: 1  # Adjust based on available RAM

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: {{ logpath }}
  verbosity: 1

# network interfaces
net:
  port: {{ mongodb_port }}
  bindIp: 127.0.0.1,{{ vm_ip }}
  maxIncomingConnections: 1000

# how the process runs
processManagement:
  timeZoneInfo: /usr/share/zoneinfo
  #pidFilePath: {{ pidFilePath }}

# security temporarily disabled for initial setup
#security:
#  authorization: enabled
#  keyFile: {{ keyFile }}
#  javascriptEnabled: false

# operation profiling
operationProfiling:
  mode: slowOp
  slowOpThresholdMs: 100

# replica set configuration (commented for initial setup)
#replication:
#  replSetName: {{  replicaset_name }}
#  oplogSizeMB: {{ oplogSizeMB }}
